/* Tablet: 600x960 */
/* Celular: 393x788 */
@media screen and (max-width: 600px){
    .container-main{
        
        width: 100%;
        padding: 0;
        height: 40vh;

    }

    header{
        box-sizing: border-box;
        padding-left: 25px;
        padding-right: 25px;
        height: 20%;
    }

    header .header-nav{
        display: none;
    }

    header .header-car{
        display: none;
    }

    header .header-menuhamburger{
        border: 1px solid white;
        display: flex;
        height: 80%;
        width: 10%;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        background-color: rgb(255, 255, 255, 0.2);
    }

    header .header-menuhamburger .header-hamburger{
        height: 70%;
        width: auto;
    }

    main{
        width: 100%;
    }

    main .main-games{
        
        height: 100%;
        margin: 0;
    }

    main .main-title{
        box-sizing: border-box;

    }

    main .main-title h1{
        font-size: 40px;
    }

    main .main-title p{
        width: 100%;
        font-size: 23px;
        
    }

    main .main-other-games{
        flex-direction: column;
        justify-content: space-evenly;
        padding-bottom: 10%;
        padding-top: 10%;
    }


    main .main-other-games .other-two{
        justify-content: space-between;
    }

    .firstpro-container{
        height: 60vh;
        justify-content: space-between;
        padding: 0 0 10px 0;
        
    }

    .first-products .card1{
        width: 30%;
        height: 70%;
        margin-top: 0%;
        align-self: center;
    }

    .first-products .card2{
        width: 30%;
        height: 70%;
        margin-top: -20%;
        align-self: center;
    }

    .first-products .card3{
        width: 30%;
        height: 70%;
        margin-top: -40%;
        align-self: center;
    }

    .about{
        margin-top: -80px;
        width: 100%;
    }

    .about h2{
        font-size: 50px;
        
    }

    .about p{
        font-size: 28px;
        
    }

    .products-store{
        height: 120vh;
        padding-top: 5vh;

    }

    .products-store .products-search-container{
        width: 90%;
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
    }

    .products-store .products-search-container .products-search{
        width: 100%;
        height: 6vh;
        margin-bottom: 2vh;
    }

    .products-store .products-search-container .products-search .Browser-text{
        font-size: 20px;
    
    }

    .products-store .products-search-container .products-search .Browser-image{
        width: 15%;
        height: 100%;
        background-size: 30px 30px;
    }

    .products-store .products-search-container .search-button{
        margin-left: 0;
        height: 5vh;
        width: 15vh;
        font-size: 25px;
    }

    .products-store .products-cards{
        width: 100%;
    }

    .products-store .products-cards article{
        width: 25%;
        height: auto;
    }

    footer{
        justify-content: space-between;
        height: 40vh;
    }

    footer .foot-container{
        border: 1px solid white;
        width: 100%;
        flex-wrap: wrap;
        
    }

    footer .foot-container .foot-logo{
        width: 100%;
        height: auto;
        order: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    footer .foot-container .foot-logo .foot-logotipo{
        width: 40%;
    }

    footer .foot-container .foot-logo .foot-social{
        width: 70%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    footer .foot-container .foot-logo .foot-social img{
        width: 10%;
        margin: 0;
    }

    footer .foot-container .foot-us{
        padding: 0;
        width: 50%;
        order: 2;
        padding-left: 5%;
        box-sizing: border-box;
    }

    footer .foot-container .foot-us h3{
        font-size: 25px;
    }

    footer .foot-container .foot-us h4{
        font-size: 20px;
    }


    footer .foot-container .foot-page{
        padding: 0;
        width: 49%;
        order: 3;
        padding-right: 5%;
        box-sizing: border-box;
    }

    footer .foot-container .foot-page h3{
        font-size: 25px;
    }

    footer .foot-container .foot-page h4{
        font-size: 20px;
    }


    footer .foot-container .foot-name{
        width: 100%;
        order: 4;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }

    footer .foot-container .foot-name h3{
        font-size: 15px;
    }


}

@media screen and (max-width: 400px){
    .container-main{
        height: 60vh;
    }
    
    .container-main header{
        height: 15%;
    }

    .container-main header .header-menuhamburger{
        width: 20%;
        height: 100%;
    }

    main{
        flex-wrap: wrap;
        
    }

    main .main-games{
        width: 40%;
        height: 70%;
    }

    main .main-games img{
        margin: 0;
    }

    main .main-title{
        width: 59%;
        height: 70%;
    }

    main .main-title h1{
        font-size: 30px;
        width: 100%;
    }

    main .main-title p{
        font-size: 22px;
        width: 100%;
    }

    main .main-other-games{
        width: 100%;
        height: 20%;
        box-sizing: border-box;
        flex-direction: row;
        align-items: center;
        padding: 0;
    }

    main .main-other-games .other-fotnite{
        padding: 0;
        margin-top: 10%;
    }
    

    main .main-other-games .other-two{
        width: 50%;
        margin: 0;
        justify-content: space-around;
    }

    main .main-other-games .other-two .other-right{
        margin: 0;
        margin-top: -12%;
    }

    main .main-other-games .other-two .other-left{
        margin-top: 3%;
    }
    main .main-other-games .other-call{
        margin-top: -16%;
    }

    .firstpro-container{
        height: 40vh;
    }

    .firstpro-container .first-products article{
        width: 30%;
        height: auto;
    }

    .about-container{
        padding: 0;
        height: 70vh;
    }

    .about-container .about{
        height: 100%;
        width: 100%;
        margin-top: -17%;
    }

    .about-container .about img{
        height: 15%;
    }

    .products-store{
        height: 150vh;
    }

    .products-store .products-cards article{
        width: 40%;
    }

    footer{
        height: 70vh;
    }

    footer .foot-container .foot-us{
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    footer .foot-container .foot-us h3{
        font-size: 30px;
    }

    footer .foot-container .foot-us h4{
        line-height: 30px;
    }

    footer .foot-container .foot-page{
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    footer .foot-container .foot-page h3{
        font-size: 30px;
    }

    footer .foot-container .foot-page h4{
        line-height: 30px;
    }



}



